@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background: var(--Cream);
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0; 
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 700px;
  border-radius: 8px;
  height: auto; 
}

.content {
  display: flex;
  width: 100%;
}

.left-container img {
  width: 100%;
  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-container {
  width: 100%;
  background: var(--White);
  padding: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right-container h2{
  color: var(--Darkgrayish-blue);
  font-family: "Fraunces", serif;
  margin-bottom: 10px;
}
.right-container h1{
  margin-bottom: 10px;
}
.right-container p {
  font-family: "Montserrat", sans-serif;
  color: var(--Darkgrayish-blue);
  
  font-size: 20px;
  align-items: center;
}

.amount {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 5px;
  justify-content: space-around;
}

.amount h1 {
  color: var(--Darkcyan);
  font-size: 34px; 
  font-weight: 700;
}

.amount h6 {
  text-decoration: line-through;
  color: var(--Darkgrayish-blue);
  font-size: 0.875rem;
}

.cart {
  display: flex;
  background: var(--Darkcyan);
  border-radius: 10px;
  border: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
  cursor: pointer; 
}

.cart p {
  color: var(--White);
  font-size: 1rem;
}

.cart:hover {
  background-color: #06402b;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }

  .content {
    flex-direction: column;
  }

  .left-container img {
    width: 100%;
    border-radius: 10px; 
    margin: 0;
  }
  

  .right-container {
    margin-top: 0;
    width: 100%;
    padding: 15px;
  }

  .amount {
    align-items: flex-start;
    margin-top: 20px;
    
  }

  .cart {
    width: 100%;
    padding: 14px;
    justify-content: center;
    gap: 5px;
  }

  .cart p {
    font-size: 0.9rem;
  }
}

